

<div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">Email</th>
            <th scope="col">StreetAddress</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Country</th>
            <th scope="col">Pincode</th>
            <th scope="col">TrainerPreference</th>
            <th scope="col">Physiotherapist</th>
            <th scope="col">Packages</th>
            <th scope="col">Inr</th>
            <th scope="col">Paisa</th>
            <th scope="col">Id</th>
          </tr>
        </thead>
        <!-- <tbody *ngFor = "let item in data let index = index; trackBy:trackByIndex">
          <tr>
          <td>{{item.firstname}}</td>
          <td>{{item.lastname}}</td>
          <td>{{item.age}}</td>
          <td>{{item.phonenumber}}</td>
          <td>{{item.email}}</td>
          <td>{{item.streetaddress}}</td>
          <td>{{item.city}}</td>
          <td>{{item.state}}</td>
          <td>{{item.country}}</td>
          <td>{{item.pincode}}</td>
          <td>{{item.trainerpreference}}</td>
          <td>{{item.physiotherapist}}</td>
          <td>{{item.packages}}</td>
          <td>{{item.inr}}</td>
          <td>{{item.paisa}}</td>
          <td>{{item.id}}</td>
        </tr>
        </tbody> -->


        <tbody *ngFor="let item of data">
          <tr>
            <td>{{item.firstname}}</td>
          <td>{{item.lastname}}</td>
          <td>{{item.age}}</td>
          <td>{{item.phonenumber}}</td>
          <td>{{item.email}}</td>
          <td>{{item.streetaddress}}</td>
          <td>{{item.city}}</td>
          <td>{{item.state}}</td>
          <td>{{item.country}}</td>
          <td>{{item.pincode}}</td>
          <td>{{item.trainerpreference}}</td>
          <td>{{item.physiotherapist}}</td>
          <td>{{item.packages}}</td>
          <td>{{item.inr}}</td>
          <td>{{item.paisa}}</td>
          <td>{{item.id}}</td>
          </tr>
        </tbody>
      </table>
</div>
