<div class="container">
    <form [formGroup]="myForm" (submit)="bookappointment()">
        <div class="row mb-2">
            <div class="col-sm-4">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="Enter First Name" formControlName="firstname">
            </div>
            <div class="col-sm-4">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="lastname">
            </div>
            <div class="col-sm-4">
                <label>Age</label>
                <input type="text" class="form-control" placeholder="Enter Age" formControlName="age">
            </div>            
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <label>Phone Number</label>
                <input type="tel" class="form-control" placeholder="Enter Phone Number" formControlName="phonenumber">
            </div>
            <div class="col sm-6">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-8">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Enter Address" formControlName="streetaddress">
            </div>
            <div class="col-4">
                <label>City</label>
                <input type="text" class="form-control" placeholder="Enter City" formControlName="city">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <label>State</label>
                <input type="text" class="form-control" placeholder="Enter State" formControlName="state">
            </div>
            <div class="col-4">
                <label>Country</label>
                <input type="text" class="form-control" placeholder="Enter Country" formControlName="country">
            </div>
            <div class="col-4">
                <label>PinCode</label>
                <input type="text" class="form-control" placeholder="Enter PinCode" formControlName="pincode">
            </div>
        </div>
        <div class="row mb-2">
            <div class="row mb-2">
                <div class="col">
                    <label>Trainer Preference</label>
                    <div class="d-flex ">
                        <div>
                            <input class="form-check-input" type="radio" value="male" formControlName="trainerpreference">
                            <label class="form-check-label ms-2">Male Trainer</label>
                        </div>
                        <div class="ms-5">
                            <input class="form-check-input" type="radio" value="female"  formControlName="trainerpreference">
                            <label class="form-check-label ms-2">Female Trainer</label>
                        </div>
                        <div class="ms-5">
                            <input class="form-check-input" type="radio" value="other" formControlName="trainerpreference">
                            <label class="form-check-label ms-2">No Preference</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label for="exampleInputEmail1">Do you need Physiotherapist</label>
                <div class="d-flex ">
                    <div>
                        <input class="form-check-input" type="radio" (change)="add()" value="yes" formControlName="physiotherapist">
                        <label class="form-check-label ms-2">Yes</label>
                    </div>
                    <div class="ms-5">
                        <input class="form-check-input" type="radio" (change)="sub()" value="no"  formControlName="physiotherapist">
                        <label class="form-check-label ms-2">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label for="exampleInputEmail1">Select a package</label>
                <div class="d-flex flex-column">
                    <div>
                        <input class="form-check-input" value="package1" type="radio" (change)="pack()" formControlName="packages">
                        <label class="form-check-label ms-2">
                          One time appointment (Rs. 500/-)
                    </label>
                    </div> 
                    <div>
                        <input class="form-check-input" value="package2" type="radio"  (change)="pack()" formControlName="packages">
                        <label class="form-check-label ms-2">4 seesions per week (Rs. 400/- per session)</label>
                    </div>
                    <div>
                        <input class="form-check-input" value="package3" type="radio" (change)="pack()"  formControlName="packages">
                        <label class="form-check-label ms-2">5 seesions per week (Rs. 300/- per session)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2" [ngClass]="myForm.value.packages == 'package1' ? 'd-none' : 'd-block'">
            <div class="col-4">
                <label>Weeks</label>
                <input type="number" class="form-control" min="1" (change)="pack()" placeholder="Enter Name" formControlName="weeks">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <label>Amount(Rs)</label>
                <input type="text" class="form-control" name="amount" [(ngModel)]="amount" formControlName="amount">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5 ">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <hr class="mt-5 mb-2">
</div>

