<body>
  <header>
  
    
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Health Club  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="https://www.bing.com/th?id=OIP.T2AwX0iwHgXba1MIOr9x3QHaIu&w=230&h=271&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2"

    width="60"

    height="40"

    style="padding-right: 10px"

    alt="image"

  />
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="landing-page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="book-component">Book-Appointment</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="view-component">View-Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="query">Query</a>
        </li>
        <!-- <li class="nav-item">
          <button mat-raised-button="primary">Button</button>
        </li> -->
      </ul>
    </div>
    </nav>
  
  </header>
  <!--  <div>
  <p>A health club (also known as a fitness club, fitness center, health spa, and commonly referred to as a gym) is a place that houses exercise equipment for the purpose of physical exercise.

    In recent years, the number of fitness and health services have increased, expanding the interest among the population. Today, health clubs and fitness centers are a reference of health services, rising the adherence to physical activity.</p>
  
  </div>   -->
  <router-outlet></router-outlet> 
  
    
  
    
  <footer class="foot">
    <div class="row">
  
      <div class="col-sm-6">
  
       
  
      </div>
  
      <div class="col-sm-3">
  
        <h5>Useful Links</h5>
  
        <div>
  
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Home</a>
  
      </div>
  
      <div>
  
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">View Appointments</a>
  
      </div>
  
      <div>
  
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Place Appointments</a>
  
      </div>
  
      <div>
  
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Contact Us</a>
  
      </div>
  
      </div>
      <div class="col-sm-3">
  
        <h5>Contacts</h5>
  
        <div>
  
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Address</a>
  
        </div>
  
        <div>
  
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Email</a>
  
        </div>
  
        <div>
  
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Phone</a>
  
        </div>
  
        <div>
  
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Fax</a>
  
        </div>
  
      </div>
  
    </div>
  
    <div class="row mt-4 text-center">
  
      <div class="col">
  
          &copy; 2022 GET-FIT Health Club
  
      </div>
  
  </div>
  </footer>
  </body>
  
  
  
  
  
  
  
  

