<!-- <p>landing-component works!</p> -->
<div>
    <p>A health club (also known as a fitness club, fitness center, health spa, and commonly referred to as a gym) is a place that houses exercise equipment for the purpose of physical exercise.
  
      In recent years, the number of fitness and health services have increased, expanding the interest among the population.
      
      Today, health clubs and fitness centers are a reference of health services, rising the adherence to physical activity.</p>
    
    </div>
